@use '../../colors';
@use '../../breakpoints';

.card {
  cursor: pointer;
  position: absolute;
  height: 18.75rem;
  width: 15rem;
  padding: 1rem;
  background: colors.$white;
  color: colors.$black;

  .card_img {
    background-size: cover;
    background-position: center;
    height: 75%;
    width: 100%;
    margin: 0 0 0.25rem 0;
  }

  a {
    text-decoration: none;
    color: colors.$black;

    &:hover {
      color: colors.$hover;
    }
  }

  @media (min-width: breakpoints.$md-breakpoint) {
    height: 37.5rem;
    width: 30rem;
    padding: 2rem;

    h3,
    p {
      font-size: 1rem;
    }

    .card_img {
      margin: 0 0 1rem 0;
    }
  }
}
