.card {
  height: 26rem;
  width: 21rem;
  padding: 1rem;
  background: #fff;
  color: #050505;

  .card_img {
    background-size: cover;
    height: 18.25rem;
    width: 100%;
    margin: 0 0 1rem 0;
  }
}
